* {
    box-sizing: border-box;
}

.calculator_container{
    width: 500px;
    height: 675px;
    border: 1px solid black;
    opacity: 60%;
    border-radius: 25px;
    background-color: black;
}

.calculator_screen{
    width: 90%;
    height: 15%;
    margin: 10px auto;
    background-color: whitesmoke;
    color: black;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
    overflow: hidden;
    white-space: nowrap;
    
    
    
}

.calculator_buttons-container{
    width: 90%;
    height: 70%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}

.calculator_buttons{
    display: flex;
    width: 105px;
    height: 95px;
    border: 1px solid ghostwhite;
    background-color: black;
    color: cornsilk;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: x-large;
    margin: 2px;
    
    

}

.button-double1{
    font-size: 40px;
}

.button-double2{
    width: 210px;
}

.calculator_buttons:hover{
    box-shadow: 2px 2px 1px 1px grey;
    border: 5px solid whitesmoke; 
    color: gold;
    cursor: pointer;

}

body{
    background-image: url(https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2019/03/640/320/elephant-walk.jpg?ve=1&tl=1);
    background-repeat: no-repeat; 
    background-size: 2000px 1350px; 
    background-position: center;
}
.calculator_container:hover{
    box-shadow: 2px 2px 1px 1px grey;
    border: 5px solid whitesmoke; 
    color: gold;
    cursor: pointer;

}

